*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  color: #fff
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
}


/*flex*/

.d-flex{
  display: flex;
}

.d-inline-block{
  display: inline-block;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-center{
  justify-content: center;
}
.align-center{
  align-items: center;
}






/*cross*/
.cross_wrapper{
  margin-top: 5px;
  margin-bottom: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 13px;
}
.cross{
  font-size: 10px;
  color: #959595;
}


/*section*/
.section{
  margin-bottom: 22px;
  padding-left: 18px;
  padding-right: 18px;

}

.hr{
  color: #4275ee; 
  background-color:#4275ee; 
  border:0px none;
  height:1px;
  margin-bottom: 22px; 
}


/*h1*/

.h1{
  display: block;
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}





/* toolbox and nav*/

.toolbox{
  width: 390px;
  max-width: 390px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;



}


.nav{
  height: 100%;
  overflow-y: scroll;
}




.nav__item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

}

.nav__item.last, .nav__item.last .nav__icon{
  height: 100%;
}





.nav__icon{
  height: 70px;
  width: 70px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  background: #222222;

}

.nav__icon:hover{
  cursor: pointer;
}
.icon, .icon use{
  fill: #fff;
  width: 35px;
  height: auto;
  max-height: 25px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

}

.icon_sm{
  width: 25px;
  height: auto;
  max-height: 20px;

}
.icons{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
}
.icon__wrapper{
  width: 20%;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border: 1px solid #3f4245;
  border-right: 0px;
  border-top: 0px;

  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  
}

.icon__wrapper:nth-child(5n-4){
  border-left: 0px;
}
/*border*/
.border-b-0{
  border-bottom: 0px;
}


.nav__content{
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #1f2327;
  right: 0px;
  left: 70px;
  padding-top: 27px;
  border-left: 1px solid #4275ee;
      overflow-y: scroll;
}



.nav__item.active .nav__icon{
  background: #4275ee;
}

.nav__item.active .nav__content{
  display: block;
}

/*square_table*/
.square_table__row{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.rectangle{
  width: 164px;
  height: 64px;
  border-radius: 5px;
  background: #33393f;

}

/*input and buttons*/
.input{
  padding: 9px 17px;
  background: #ffffff;
  border: 1px #959595 solid;
  border-right: 0px;
  border-radius: 5px;
  color: #222222;
  width: 100%;
}

.input:focus{
  outline: none;
  border-color: #4275ee;
}



.input_sm{
  height: 22px;
  width: 35px;
  text-align: center;
  line-height: 22px;
  padding: 0;
}




.label{
  color: #fff;
}




.label_radio{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}


.label_sm{
  font-size: 12px;
  padding-left: 26px;
}



.label_grey{
  font-size: 12px;
  color: #959595;
}



.input_radio:checked,
.input_radio:not(:checked) {
    position: absolute;
    left: -9999px;
}


.input_radio:checked + .label_radio:before,
.input_radio:not(:checked) + .label_radio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #4275ee;
    border-radius: 100%;
    background: #fff;
}

.input_radio:checked + .label_radio:after,
.input_radio:not(:checked) + .label_radio:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4275ee;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.input_radio:not(:checked) + .label_radio:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.input_radio:checked + .label_radio:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*color*/
.color__bg{
  padding: 16px 17px;
  background: #ffffff;
  border: 1px #959595 solid;
  border-radius: 5px;
  color: #222222;
  width: 100%;

} 


/* select and option */




.selectize-input.items.has-options.full.has-items{
  padding: 9px 17px;
  background: #ffffff;
  border: 1px #959595 solid;
  border-radius: 5px;
  color: #222222;
  width: 100%;
}

.selectize-input.items.has-options.full.has-items.input-active{
  outline: none;
  border-color: #4275ee;
  transition: 0.3s all ease;
}

.selectize-control.single .selectize-input:after{
  border-color: #4275ee transparent transparent transparent;
  transition: all ease 0.3s;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  border-color: transparent transparent #4275ee transparent;
}


.selectize-dropdown  .option{
  padding: 9px 17px;
  color: #222222;
  font-size: 14px;
}

.selectize-dropdown  .option:hover{
  background: #4275ee;
  color: #fff;
  cursor: pointer;
}


/*button*/


.btn{
  background: rgb(0,212,255);
  background: -webkit-linear-gradient(rgba(0,212,255,1) 0%, rgba(64,114,238,1) 100%);
  background: -o-linear-gradient(rgba(0,212,255,1) 0%, rgba(64,114,238,1) 100%);
  background: linear-gradient(rgba(0,212,255,1) 0%, rgba(64,114,238,1) 100%);
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 12px 24px;
  text-align: center;
  border: none;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(102,155,246,1); 
  box-shadow: 0px 1px 3px 0px rgba(102,155,246,1);
  transition: all 0.2s ease;
  display: block;

}


.btn:hover {
  cursor: pointer;
  background: #4072ee;
 -webkit-box-shadow: 0px 1px 3px 0px rgba(102,155,246,0); 
  box-shadow: 0px 1px 3px 0px rgba(102,155,246,0);
  transition: all 0.2s ease;
 }


/*counter*/
.counter{
  display: flex;
  align-items: center;
}

.counter_dance-floor{
  width: 70%;
  justify-content: space-between;
  margin-bottom: 16px;
}


.counter__label{
  font-size: 12px;
  color: #959595;
}
.counter__input{
  width: 55px;
  padding: 4px 8px;
  background: #d1d1d1;
  color: #31394d;
  text-align: center;
  border: 2px solid #959595;
  border-radius: 5px;
  font-size: 14px;
}

.counter__input:focus{
  outline: none;
  border-color: #4072ee;

}

.counter__minus{
  width: 10px;
  height: 3px;
  background: #fff;
  display: inline-block;
  display: inline-block;
  margin-right: 6px;
  opacity: 0.9;
}

.counter__minus:hover{
  cursor: pointer;
  opacity: 1;
}


.counter__plus{
  width: 11px;
  height: 11px;
  position: relative;
  display: inline-block;
  margin-left: 6px;

}

.counter__plus:hover{
  cursor: pointer;
}

.counter__plus:before, .counter__plus:after{
  height: 3px;
  background: #4072ee;
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 4px;

}


.counter__plus:after{
  transform: rotate(90deg);
}


.counter__undo{
  width: 10px;
  height: 20px;
  fill: #fff;
  margin-left: 10px;
}

.counter__undo:hover{
  cursor: pointer;
}


/*slider*/

.slider-container {
  position: relative;
  width: 208px;
}

.slider-container .bar{
  position: absolute;
  z-index: 1;
  left: 0;
  top: 8px;
  width: 100%;
  height: 4px;
  background: #d1d1d1;
  border-radius: 5px;
}

.slider-container .fill{
  display: block;
  width: 50%;
  height: 100%;
  background: #4275ee;

}

.slider-container .slider{
  position: relative;
  z-index: 2;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  outline: none;
  border-radius: 5px;
  background: transparent;
}

.slider-container .slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 2px solid #4275ee;

  box-shadow: 0 0 0 #4275ee;
  transition: 0.3s all ease;
}


.slider-container .slider::-webkit-slider-thumb:hover{
  box-shadow: 0 0 10px #4275ee;
  transition: 0.3s all ease;
}


.slider-container .slider:active::-webkit-slider-thumb:hover{
  box-shadow: 0 0 30px #4275ee;
  transition: 0.3s all ease;
}


/*color-picker*/

.color:hover{
  cursor: pointer;
}


/*margins*/


.mt-16px{
  margin-top: 16px;
}
.mb-22{
  margin-bottom: 22px;
}

.mb-16{
  margin-bottom: 16px;
}


.mb-10{
  margin-bottom: 10px;
}

.mb-0{
  margin-bottom: 0px;
}

.mr-13{
  margin-right: 13px;
}

.mr-10{
  margin-right: 10px;
}
.mr-35{
  margin-right: 35px;
}

