body{
  font-family: 'Roboto', sans-serif;
  color: #fff
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: left;
}

.mb-22{
  margin-bottom: 22px;
}
.mr-20{
  margin-right: 20px;
}
.section{
  margin-bottom: 22px;
  padding-left: 27px;
  padding-right: 27px;
}

.section_hr{
  border-bottom: 1px solid #4275ee;
}


/* toolbox and nav*/

.toolbox{
  width: 350px;
  max-width: 350px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;

}


.nav{
  height: 100%;
}




.nav__item{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.nav__item.last, .nav__item.last .nav__icon{
  height: 100%;
}





.nav__icon{
  height: 60px;
  width: 60px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  border-bottom: 1px solid #fff;
  border-radius: 5px 0 0 5px;
  background: #222222;

}

.nav__icon:hover{
  cursor: pointer;
}
.icon, .icon use{
  fill: #fff;
  width: 20px;
  height: auto;
  max-height: 20px;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

}


.nav__content{
  display: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #1f2327;
  right: 0px;
  left: 60px;
  padding-top: 18px;
  border-left: 1px solid #4275ee;
}



.nav__item.active .nav__icon{
  background: #4275ee;
}

.nav__item.active .nav__content{
  display: block;
}


/*input and buttons*/
.input{
  padding: 9px 17px;
  background: #ffffff;
  border: 1px #959595 solid;
  border-radius: 5px;
  color: #222222;
}

.input:focus{
  outline: none;
  border-color: #4275ee;
}








.label{
  color: #fff;
}

.label_h1{
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}


.label_radio{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}








.input_radio:checked,
.input_radio:not(:checked) {
    position: absolute;
    left: -9999px;
}


.input_radio:checked + .label_radio:before,
.input_radio:not(:checked) + .label_radio:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #4275ee;
    border-radius: 100%;
    background: #fff;
}

.input_radio:checked + .label_radio:after,
.input_radio:not(:checked) + .label_radio:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #4275ee;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.input_radio:not(:checked) + .label_radio:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.input_radio:checked + .label_radio:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}





/* range slider*/

