html {
	background-color: #fcfbfa;
	margin: 20px 100px 30px 100px;
}

body {
	font-family: 'Montserrat', sans-serif;
  background-color: #fcfbfa;

}

.col-md-4 h2 {
	font-family: 'Montserrat', sans-serif;
	text-align: left;
	font-weight: 100;
	margin-bottom: 30px;
}

p {
	font-family: 'Montserrat', sans-serif;
	font-size: 11px;
	text-align: left;
	font-weight: 300;
	color: grey;
	line-height: 2em;
	letter-spacing: .1em;
}

.customer-order, .customer-pay, .customer-info {
	padding: 20px;
	margin-top: 30px;
	background-color: #ffffff;
	border: .5px solid #cccccc;
}

.customer-pay{
  margin-top: 0px;
}

.btn {
	background-color: #000;
	text-transform: uppercase;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .1em;
	font-size: 8px;
}

.btn:hover {
	background-color: #ffffff;
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .1em;
	border: 1px solid #555555;
}

span {
	color: #cccccc;
}

.customer-order {
	position: fixed;
	margin-right: 100px;
}

.fa {
	padding: 5px;
	margin: 0px 0px 30px 0px;
  text-align: left;
  color: #555555;
}

#accept, label {
	text-transform: uppercase;
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	color: #555555;
	letter-spacing: .1em;
}
.wrapper{
	padding-bottom: 167px;
}
.wrapper  h1{
	margin-top: 50px;
	margin-bottom: 55px;
}
.wrapper  h1, .wrapper {
	background-color: #fcfbfa;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
}

.wrapper h1 {
  text-align: center;
}
.abs-total-price{
	display: inline-block;

    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
    width: 148px;


}
.help-label{
	color: #43484D;
	font-weight: 500;
	display: inline-block;
	margin-right: 3px;
}
.wrapper-help{
	padding: 20px 30px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;

}

.margin-resp{
	margin-bottom:  40px;
}


.btn-submit{
	width: 189.063px;
	
}

.btn-submit_1{
	margin-left: auto;
	margin-right: 24px;
	margin-bottom: 20px !important;
}
.btn-submit_2{
	margin-top: 28px;
	margin-left: auto;
}
.flex-right{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.max-width{
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
/* Shopping cart styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0; 
}

.shopping-cart {
  max-width: 750px;
  /*height: 423px;*/
  margin: 0px auto;
  background: #FFFFFF;
  /*box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;*/
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  border: .5px solid #cccccc;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
}

.item:nth-child(3), .item:nth-child(4) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

/* Buttons -  Delete and Like */
.shopping-cart .buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  width: 18px;
  height: 17px;
  background: url("../img/delete-icn.svg") no-repeat center;
  margin-right: 20px;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  display: inline-block;
  background: url('../img/twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}

/* Product Image */
.image {
  margin-right: 50px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
.description span:nth-child(2), span:nth-child(3) {
	line-height: 1.2;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* Product Quantity */
.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

.quantity button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-bottom: 3px;
}
.plus-btn img {
  margin-top: 2px;
}
.shopping-cart button:focus,
.shopping-cart input:focus {
  outline:0;
}

/* Total Price */
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}


/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .shopping-cart .buttons {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1200px) {
.margin-resp{
	margin-bottom:  0px;
}